html, body, #map
{
    padding: 0;
    margin: 0;
    height: 100%;
}

#right-panel
{
    position: fixed;
    top: 120px;
    right: 0;
    height: calc(100% - 120px);
    width: 160px;
    background: rgb(200, 200, 200);
    z-index: 50;
}

#container
{
    padding: 8px;
    font-size: 90%;
}

.panel
{
    position: absolute;
    font-size: 80%;
}

.panel > div
{
    background: rgba(255, 255, 255, 0.9);
    margin: 15px 0;
    padding: 2px 8px;
}

.panel h2
{
    padding: 0;
    margin: 8px 0;
}

#shapes
{
    right: 0;
    top: 130px;
}

#display
{
    top: 90px;
    left: 20px;
}

.dijitPaletteImg img
{
    width: 20px;
    height: 20px;
    display: block;
    opacity: 0.8;
    cursor: pointer;
    border: 1px solid gray;
    margin: 1px;
}

