html, body, #map
{
    padding: 0;
    margin: 0;
    height: 100%;
}

#right-panel
{
    position: fixed;
    top: 120px;
    right: 0;
    height: calc(100% - 120px);
    width: 160px;
    background: rgb(200, 200, 200);
    z-index: 50;
}

#container
{
    padding: 8px;
    font-size: 90%;
}

#legend
{
    height: 100px;
    overflow-y: auto;
}

.dijitPaletteImg img
{
    width: 20px;
    height: 20px;
    display: block;
    opacity: 0.4;
    cursor: pointer;
}

